{% extends "ow/baseCharacters.html.twig"%}
{% block container %}
    <h2>Characters</h2>
    <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{character.image}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{character.name}}</h5>
                        <p class="card-text">{{character.role}}</p>    
                        <p class="card-text">{{character.faccion.name}}</p>
                        <p class="card-text">{{character.description}}</p>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
